<style>
    table, thead, td{
        border:2px solid #ccc; 
        border-collapse:collapse; 
        vertical-align: middle;
    }
    table {
        table-layout: fixed;
        width: 100%;
    }
    table th:nth-child(4) { width: 10%; }
    table th:nth-child(5) { width: 10%; }
</style>